/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

body {
    background-color: #191919;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: auto 20px;
    position: fixed;
    top: 0;
    
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

.logo {
    padding-left: 40px;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: clamp(35px, 7vw, 40px);
}

ul {
    display: flex;
    list-style: none;
    flex-basis: 75%;
    justify-content: space-evenly;
    align-items: center;
}

ul li a {
   

    text-decoration: none;
    color: white;
    font-size: clamp(20px, 6vw, 22px);
}
.sidebar li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 15px;
 
    color: white;
    font-size: clamp(28px, 6vw, 33px);
    
}
.sidebar li {
    margin-right: auto;
    padding: 2px 30px;
    display: flex;
  
    align-items: center;
}
.sidebar li img{
   margin-top: 160px;
    width: 35px;
}



ul li a:hover,nav a .active {
    color: #f9004d;
    transition: 0.5s;
}



/* Hero Section */
.hero {
    background-image: url(./Assets/img1\ \(1\).jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.hero button {
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    border: 2px solid transparent;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: transform 0.4s;
    background-color: #f9004d;
}

.hero button:hover {
    transform: scale(1.1);
    box-shadow: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    font-size: clamp(41px, 7vw, 55px);
}

h3 {
    font-size: clamp(26px, 4vw, 32px);
}

h4 {
    color: white;
    font-size: clamp(23px, 4vw, 31px);
}

.section_subtitle {
    font-size: clamp(20px, 6vw, 35px);
    text-align: center;
    color: white;
    text-decoration: underline;
}

/* About Section */
.about {
    width: 100%;
    
    background-color: #101010;;
}

.about img {
    width: 330px;
    height: auto;
    margin: 0 auto;
}

.about_text {
    width: 550px;
}

/* Tech Stack Section */
#techstack {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1rem;
    
    
   
}
.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#techstack span{
    display: flex;
    gap: 1rem;
}

/* Custom Properties */
:root {
    --button-width: 140px;
    --button-height: 50px;
}

/* Resume Button */
.resume_btn {
    width: var(--button-width);
    height: var(--button-height);
    padding: 10px 25px;
    font-size: larger;
    border: none;
    border-radius: 30px;
    border: 2px solid transparent;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: transform 0.4s;
    background-color: #f9004d;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    margin-right: 9px;
}

.btn{
    background-color: #f9004d;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    font-weight: bold;
    color: white;
    padding: 8px 10px ;
    border-radius: 8px;
    border: none;
    margin-right: 4px;
    transition: transform 0.4s;
}
.btn:hover{
    transform: scale(1.1);
}
.resume_btn a {
    text-decoration: none;
    color: inherit; 
}

span {
    color: #f9004d;
}

#showSlider:hover{
    transform: scale(1.1);
}

#hide:hover{
    transform: scale(1.3);
}

.sidebar{
    
    margin-top: 0;
    
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: -10px 0 10px(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about .main {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    display: flex;
    margin: auto;
    
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.about img{
   flex-basis: 25%;
   min-height: 80px;
   max-height: 500px;

}
.showSlider{
    display: none;
}
.about_text p{
    flex-basis: 50%;
    font-size: clamp(22px,4vw,28px);
    line-height: 1.7rem;
}
.about_text h5{
    font-size: clamp(25px,4vw,30px);
}
.responsive{
    display: none;
}
.not_responsive {
    display: block;
}

.GitHubStats {
    text-align: center;
    padding: 1rem;
    background-color: #101010; /* Dark background for better contrast */
    color: #f8f8f2;
  }
  
  .GitHubStats .section_subtitle {
    margin-bottom: 20px;
   
    font-weight: bold;
  }
  
  .GitHubStats p {
    margin: 10px 0;
  }
  
  .GitHubStats img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  }

  .contact-me{
   
    padding: 2rem 1rem;
    min-height: 450px;
   

 }
 .social-media{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
   width: 40%;
   justify-content: space-evenly;
    height: 150px;
    gap: 6px;
    align-items: center;
    
   
    
 } 
 .social-media a{
    font-size: xx-large;
   background-color: #f9004d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50px;
    height: 50px;
   text-decoration: none;
   font-size: 28px;
   
  
 }

 .social-media a:hover{
    transform: scale(1.3);
    transition: .7s;
 }
 .end{
    
    color: white;
    margin-bottom: 30px;
    font-size: clamp(15px ,3vw,25px);
   width: 100%;
  text-align: center;
 }
 #techstack{
     display: flex;
     padding-bottom:2rem;
 }
 #dynamic-text {
    font-weight: bold;
    color: #f9004d;
}
.skillicon:hover{
    transform: scale(1.3);
    transition: .7s;
}

.project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.projects{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  
    justify-content: space-evenly;
}
.project-details{
    flex-basis: 65%;
}
.project-details h3 span{
    font-size: (25px,4vw,26px);
}
.project-details  p{
    font-size: clamp(22px,4vw,25px);
}

.project-img{
    flex-basis: 30%; 
   
}
.project-img img{
  width: 100%;
  border-radius: 10px;
}





  

@media(min-width:1201px){
    #showSlider{
        display: none;
    }
}
@media(max-width:1200px ){
    .hideOnMobile{
        display: none;
    }
    nav ul{
        justify-content: flex-end;
         padding-right: 20px;
    }
    #showSlider{
        display: block;
    }

    .about .main{
        flex-direction: column;
    }
    .about_text{
        width: 80%;
    }
    #my_photo{
        width: 70%;
    }
    .responsive{
        display: block;
    }
    .not_responsive {
        display: none;
    }
    .project{
        flex-direction: column;
    }
    
    .project-img{
      width: 90%;
      margin: 4px auto;
    }
    .btn a{
        text-decoration: none;
    }
    .project-buttons{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
    
    
}
