*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color:white;
    min-height: 100vh; /* Ensure body takes up at least the height of the viewport */
  
       
    
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/pink-2569355.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
/* .container{
    padding:0px 10px ;
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
   background-color: #080808; 
    margin: 0;
    z-index: 100px;
    
  

    
}
.logo{
    width: 16vw;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin: 10px 0.5vw;
    position: relative;
    font-weight: 900;
    font-size: 1.5vw;
    
    /* border: 4px solid rgb(181, 170, 170); */
    border-radius: 10px;
    
   
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #fc9ec2;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-left: 7vmax;
    margin-top: 8vmax;
    font-size: 2.5vw;
}


.header-text h1 span{
    color:#fc9ec2;
}
.about-col1 img{
   width: 100%;
   /* border: 5px solid red; */
   border-radius: 55px;
  
    
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}

.about-col2 h1{
   color: #fc9ec2; ;
   text-decoration: underline;
   margin-bottom: 5em;
   text-align: center;
   font-size: xx-large;
   padding-top: 5vw;
}

.about-col2  p{
    line-height: 1.5em;
    
}
.about-col1 {
    flex-basis: 30%;
    padding-top: 5vw;
}
.about-col2 {
    width: 50%;

}
.typer-container {
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2em;
    border-right: 2px solid #333; /* Simulates the blinking cursor */
  }
  
  .typer-text {
    display: inline-block;
    padding-right: 10px; /* Adjust as needed for spacing */
    animation: typer 2s steps(30, end);
  }
  
  
 .header-text{
    padding: 0px 60px;
 }
 #skills{
    
    text-align: center;
    font-size: larger;
   height:fit-content;
   margin-bottom: 100px;
    display: flex;
   
    flex-wrap: wrap;
   
    
 }
 #skillheading{
   
    font-size: 900;
    margin-bottom: 20px;
    text-decoration: underline;
    height: max-content;
    margin-top: 30px;
    text-align: center;
    width: 100%;
 }
 

 .row2{
    display: flex;
    justify-content: space-evenly; 
   width: 100%;
   flex-wrap: wrap;
   
   
    
   
 }
 .skill{
    background-color:rgb(181, 172, 172);
   width: 250px;
    height: 300px;
   
   padding-top: 1.7em;
   border-radius: 15px;
   transition: 0.5s;
   transform: 0.5s;
 }
 .skill span,i{
    margin-bottom: 30px;
    font-size: 50px;
 }
 /* #f4b6ce */
 .skill h2{
    font-size: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
 }
 .skill:hover{
    background-color: #fc9ec2;
    transform: translateY(-17px);
    z-index: -5px;
 }
 .contact-left{
    flex-basis: 35%;
  
 }
 .contact-right{
    flex-basis: 60%; 
  
  
    
 }
 .contact-left p{
    margin-top: 0px;
    margin-bottom: 0px;
 }
 .contact-left p i{
         font-size: 25px;
         margin-right: 15px;
         
 }
 .contact-left p a{
   text-decoration:none;
   color: white;
   
}
 .contact-left p span{
   font-size: 25px;
   margin-right: 15px;
   margin-bottom: 20px;
   
}
 
 
 .GitHubStats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f9dce8;
    height: 100vh;
    width: 100%;
    
 }
 .GitHubStats h1{
   text-align: center;
   color: #080808;
   text-decoration: underline;
   font-size: 3vw;
 }
 .btn{
    display: block;
    width: fit-content;
    border: 3px solid  #ef6097;
    padding: 10px ;
    border-radius: 6px;
    text-decoration: none;
    color:rgb(134, 128, 128);
    transition: background 0.5s;
    font-weight: 700;
 }
 .btn:hover{
    background-color:  #fc9ec2;
    color: rgb(134, 128, 128);
    border:3px solid rgb(134, 128, 128);
 }
 #contact{
    height: 60vh;
    width: 100%;
   margin-top: 7vh;
   margin-bottom: 7vh;
   position: relative;
 }
 #contact h1{
   font-size: 3vw;
   text-align: center;
 }
 #skills{
    height: 80vh;
    width: 100%;
    margin-top: 20px;
    
 }
 #about{
   height: 100vh;
   width: 100%;
  
 
   
 }
 .contact-right form{
   width: 100%;
  
 }
 form input,form textarea{
   width: 100%;
   border: 0;
   outline: none;
  
   padding: 15px;
   margin: 15px 0;
   color: #000;
   font-size: 18px;
   border-radius: 6px;
 }
 footer{
   height: 70px;
  margin-top:100px;
  padding-top:1.5vw;
   text-align: center; 
   background-color: #ef6097;
  
  
 }
 .Techstack{
   height: max-content;
   width: 100%;
   font-size: 3vw;
  
   margin-top: 100px;
   margin-bottom: 50px;
 
 }
 .Techstack img{
   width: 150px;
   height: 150px;
   border-radius: 10px;
 }
 .Techstack h4{
   font-size: 0.7em;
 }
 .Techstack h1{
   padding-top: 25px;
   padding-bottom:  25px;
   text-align: center;
   text-decoration: underline;
   font-size: 3vw;
 }

 #techstack,#tool{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
 }
 #tool{
   padding-bottom: 25px;
 }
 nav .material-symbols-outlined{
  display: none;
 }
 @media only screen and (max-width:600px){
   #header{
      background-image: url(images/coding-1853305.jpg);
      background-size: cover;
    background-position: center;
    overflow-x: hidden;
    
   }
   #contact h1{
      font-size: 30px;
   }
   .header-text{
      margin-top: 30%;
      font-size: 16px;
   }
   .header-text h1{
      font-size: 30px;
   }
   nav .material-symbols-outlined{
      display: block;
      font-size: 55px;
   }
   nav ul{
      background-color: rgb(156, 147, 147);
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 50vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
   }
   nav ul li{
      display: block;
      margin: 25px;
   }
   nav ul .material-symbols-outlined{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
     
   }
   .sub-title{
      font-size: 40px;
   }
   .about-col2{
      flex-basis: 100%;
   }
   .about-col1{
      margin-bottom: 30px;
      flex-basis: 80%;
   }
   .about-col2{
      font-size: 14px;
   }
   
   footer{
      font-size: 14px;
     margin-top: 200px;
   }
   .contact-left{
      margin: 0 auto;
   }
   .about-col2 h1{
      margin-bottom: 2em;
     }
     .logo{
      width: 25vw;
  }
  .skill{
   background-color:rgb(181, 172, 172);
  width: 300px;
   height: max-content;
  
  padding: 5% 0;
  border-radius: 10px;
  transition: 0.5s;
  transform: 0.5s;
}
.skill span,i{
   margin-bottom: 15px;
   font-size: 30px;
}
/* #f4b6ce */
.skill h2{
   font-size: 30px;
   margin-bottom: 15px;
   text-decoration: underline;
}
.skill:hover{
   background-color: #fc9ec2;
   
}
#skills{
   margin-top: 30px;
   height: 120vh;
}
.Techstack h1{
 font-size: 30px;
}

 }
 @media (max-width:737px )and (min-width:561px) {
   /* .logo{
      width: 25vw;
  } */
  .about-col2 h1{
   margin-bottom: 1em;
  }
  #about{
   height: fit-content;
  }
  #skills{
   height: fit-content;
  }
  #contact{
   height: fit-content;
  }
  .skill:hover{
   background-color: #fc9ec2;
   
}
 }
 @media (max-width:737px )and (min-width:600px){
   .logo{
      width: 80px;
  }
  .about-col2{
   flex-basis: 80%;
}
.about-col1{
   margin-bottom: 10px;
   flex-basis: 80%;
   
   font-size: 14px;
}


/* 
.about-col1 img{
 width: 5vw;
 height: 5vw;
 background-color: purple;

} */

 }
 @media (max-width:738px) {
   .about-col1 img{
      width: 55vw;
      height: 65vw;
     
    
   }
     
 }
 @media (max-width:1325px ) and (min-width:600px){
   .header-text{
      margin-top: 20%;
      font-size: 35px;
   }
   .header-text h1{
      font-size: 55px;
   }
 }
@media (max-width:600px ) {
   .git{
      width: 80vw;
   }
   .GitHubStats h1{
      text-align: center;
      color: #080808;
      text-decoration: underline;
      font-size: 7vw;
    }
    .about-col2 h3,h2{
        padding: 0px 30px;
    }
}
@media (max-width:2400px)and(min-width:1400){
   .about-col2{
      font-size: 200px;
   }
   
}
@media (max-width:800px){
   .contact-left{
      flex-basis: 80%;
      margin-top: 20px;
      height: max-content;
   }
   .contact-right{
      flex-basis: 80%;
   }
}
